.git
.gitignore
.env
.env.local
.env.production
docker/backend.env.local
refactor/.env.local
refactor/node_modules
refactor/.next
src/vendor
src/var/cache
src/var/log
src/var/sessions
src/FILES/tmp/*
Docs/*.pdf
