MAILER_DSN='php://default'
LOG_LEVEL='warning'
GOOGLE_API_KEY=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_AUTH_CONFIG=''
OAUTH_GOOGLE_CLIENT_ID=''
OAUTH_GOOGLE_CLIENT_SECRET=''
OAUTH_GOOGLE_CLIENT_HD=''
