<p>Gentile utente,</p>
<p>è stata richiesta la reimpostazione della password del tuo account sul Registro Elettronico.</p>
<p>Per procedere apri il link seguente <strong>entro {{ minuti }} minuti</strong> e conferma la richiesta:</p>
<ul>
  <li><strong style="font-family:helvetica;"><a href="{{ link }}">{{ link }}</a></strong></li>
</ul>
<p><em>Se non hai richiesto tu la reimpostazione ignora questa email: la tua password resterà invariata e nessuna modifica verrà effettuata.</em></p>
<p>&nbsp;</p>
<hr>
<p>
  <em>
    ATTENZIONE: questo messaggio è stato generato automaticamente a seguito di una richiesta di recupero password.<br>
    La preghiamo pertanto di non rispondere a questa e-mail perché le eventuali comunicazioni andrebbero perse.
  </em>
</p>
